@media screen and (max-width:769px) {
    .item{
        flex-direction: column;
    }
    .itemimg{
        height: 50vh;
        object-fit: contain;
        padding: 50px;
    }
    .itemimgframe{
        height: 57vh;
        object-fit: contain;
        padding: 50px;
    }
    .item1{

    }
    .item2{
        width: 100%;
    }
    .productfooter{
        padding: 20px;
        flex-direction: column;
    }
}

@media screen and (min-width:769px) {
    .item{
        flex-direction: row;
        padding: 50px;
        height: 110vh;
        overflow-y: auto;
    }
    .itemimg{
        height: 70vh;
        object-fit: contain;
    }
    .itemimgframe{
        height: 83vh;
        object-fit: contain;
    }
    .item1{
        position: sticky;
    }
    .item2{
        width: 80%;
    }
    .productfooter{
        padding: 50px;
        flex-direction: row;
    }
}

.loadimg{
    animation-name: mymove;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes mymove {
    from {opacity: 0;}
    to {opacity: 0.5;}
  }