
.diagonal-container {
  height: 130vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  background-color: black;
}

/* Diagonal Section Styles */
.diagonal-section {
  position: absolute;
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
}

.posters {
  background-color: #FFF8E8;
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%);
  top: 0;
  cursor: pointer;
}

.posters div{
  visibility: hidden;
}

.posters:hover div{
  visibility: visible;
}


.stickers div{
  visibility: hidden;
}

.stickers:hover div{
  visibility: visible;
}


.stickers {
  background-color: black;
  clip-path: polygon(0 30%, 100% 0, 100% 100%, 0% 100%);
  top: 60vh;
  cursor:pointer;
}


/* Slanted Bordered Div */
.slanted-bordered-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-5deg); /* Rotate to create a slanted effect */
  
  
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3; /* Make sure it's above the sections */
 
}

.slanted-bordered-div p {
  margin: 0;
  
  text-align: center;
}
@media screen and (min-width:769px) {
  
  .mobstore{
    visibility: hidden;
    display: none !important;
  }
}
@media screen and (max-width:769px) {
  .pcstore{
    visibility: hidden !important;
    display: none;
  }
  
  
}