

#root{
    padding: 0;
    margin: 0;
}



  ::-webkit-scrollbar {display:none;}
  .poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  
  .protest-guerrilla-regular {
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  button:hover{
    opacity: 0.5;
    
  }
  @keyframes appear {
    from {
      opacity: 0;
      clip-path: inset(100% 100% 0 0);
    }
    to {
      opacity: 1;
      clip-path: inset(0 0 0 0);
    }
  }

  .block {
    animation: appear ease;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
  }
  
.h1{
  visibility: collapse;
}

.h:hover .h1{
  cursor: pointer;
  background-color:  rgba(0,0,0,0.5);
  position: absolute;
  z-index: 2;
  visibility:visible;
}
input:focus{
  outline: none;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width:768px) {
  #root{
    width: 100vw;
    overflow: hidden;
  }
  body{
    
  }
  .collections{
    display: none;
  }
  #mobnav{
    display: flex;
  }
  .head{
    height: 750px;
  }
  .headtitle{
    font-size: 130px;
    width: 90vw;
    line-height: 0.8;
    margin-top: 100px;
  }

  .headimg{
    display: none;
  }

  .headsubtitle{
    font-size: 50px;
    line-height: 0.8;
    position: absolute;
    color: grey;
    width: 150px;
    right: 30px;
    top: 700px;

  }

  .mobheadimg{
    display: block;
    height: 500px;
    position: absolute;
    top: 300px;
  }

  .parallax{
    height: 50px;
    span{
      font-size: 50px;
    }
  }

  .sectiontitle{
    font-size: 50px;
  }

  .sectionsubtitlemob{
    max-width: 90vw;
    font-size: 40px;
    display: block;
    margin-left: 20px;
  }

  .sectionsubtitlelap{
    display: none;
  }
  

  .sectionimg{
    height: 400px;
    align-self: center;
    
  }

  .sectiondesclap{
    display: none;
  }
  .sectiondescmob{
    display: block;
  }
  .stores{
    height: 1100px;
  }

  .sectionstickerimgmob{
    display: block;
  }

  .sectionstickerimglap{
    display: none;
  }

  .stickerstores{
    height: 900px;
  }

  .prod{
    width: 90%;
  }

  #navbar{
    display: none;
  }
  .productshead{
    font-size: 40px;
    margin-bottom: 30px;
  }
  .filterchips{
    flex-direction: column;
  }
  .proddiv{
    visibility: hidden;
  }
}
@media screen and (min-width:769px) {
  #navbar{
    display: block;
  }
  .head{
    height: 105vh;
  }
  .headtitle{
    font-size: 200px;
  }

  .headimg{
    display: flex;
  }
  .mobheadimg{
   display: none; 
  }

  .headsubtitle{
    font-size: 60px;
    position: absolute;
    color: grey;
    left: 160px;
    bottom: 20px;
  }

  .sectiontitle{
    font-size: 100px;
  }
  .sectionsubtitle{
    font-size: 70px;
  }

  .sectionimg{
    height: 600px;
    position: absolute;
    left: 400px;
  }

  .sectionsubtitlemob{
    display: none;
  }

  .sectionsubtitlelap{
    font-size: 70px;
    display: block;
  }
  .sectiondesclap{
    display: block;
  }
  .sectiondescmob{
    display: none;
  }

  .sectionstickerimgmob{
    display: none;
  }

  .sectionstickerimglap{
    display: block;
  }

  .prod{
    width: 30%;
  }


  #mobnav{
    display: none;
  }

  .productshead{
    font-size: 150px;
  }
  .filterchips{
    flex-direction: row;
  }
  
  
}